.container{
    font-family: Roboto, sans-serif;
    border-style: 1px solid grey;
    background-color: rgb(174, 199, 192);
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    box-shadow: 2px 5px 5px 0px #eee;
    max-width: 700px;
    padding-top: 5px;
    height: 800px;
    margin-top: 50px;
}
.heading {
    text-decoration: bold;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding-top: 10px;
}


