{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Change Password</title>
</head>
<body>
      <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" >
                    <img src="{% static 'images/logo.jpg' %}" style="width: 55px; padding-left: 0.9rem"  class="rounded-pill">
                </a>
                <h3 style="font-size: 25px;" >Himlayang General Trias</h3>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 20px;" href="{% url 'Client' user.pk %}">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 20px;" href="{% url 'Property' user.pk %}">Property</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 20px;" href="{% url 'BillSummary' user.pk %}">Bill Summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 20px;" href="{% url 'PaymentHistory' user.pk %}">Payment History</a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <a href="{% url 'ChangePassword' user.pk %}" style="font-size: 16px;" class="btn btn-primary">Change Password</a>
                        <a href="{% url 'Logout' %}" onclick="return confirm('Do you want to log out?')" style="font-size: 16px;" class="btn btn-secondary">Log Out</a>
                    </ul>
                </div>
            </div>
        </nav>
      <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save changes</button>
      </form>
          
      
</body>
</html>
