{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Client Payments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
    h1{
        color: black;
    }
    .row i{
        font-size: small;
    }
    .btn-space{
      margin-right: 5px;
    }
    .pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    }
    .pagination a {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 8px 16px;
      transition: background-color .3s;
      text-decoration: none;
    }
    .pagination a:hover:not(.active) {background-color: #ddd;}
    .pagination a.active {
      border-radius: 5px;
      background-color: #4CAF50;
      color: white;
    }
    .alignright {
      float: right;
      padding: 10px 10px 10px 0px;
    }
    #buttons {
      max-width: 80px;
    }
    #buttons1 {
      max-width: 100px;
    }
    #buttons2 {
      max-width: 140px;
    }
</style>
</head>
<body>
  {% load THESISAPP_extras %}
<!--Header-->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" >
        <img src="{% static 'images/logo.jpg' %}" style="width:60px;" class="rounded-pill">
    </a>
    <h3>Himlayang General Trias</h3>
    <ul class="navbar-nav ms-auto">
        <a href="{% url 'PropertyManagement' user.pk %}" class="btn btn-space btn btn-primary">Create</a>
        <a href="{% url 'Notifier' %}"><input type="button" value="Notify" class="btn btn-space btn btn-secondary btn"></a>
        <a href="{% url 'AdminHomepage' user.pk %}" class="btn btn-space btn btn-danger">BACK</a>
    </ul>
</div>

</nav>
<div id="textbox">
  <div class="alignright">
    <form method="get">
      <div class="d-sm-inline-block">{% render_field filter_all.form.customer class="form-control" placeholder='Username' %}</div>
      <div class="d-sm-inline-block" id="buttons1">{% render_field filter_all.form.product_lottype class="form-control" %}</div>
      <div class="d-sm-inline-block" id="buttons">{% render_field filter_all.form.product_phase class="form-control" placeholder='Phase:' %}</div>
      <div class="d-sm-inline-block" id="buttons">{% render_field filter_all.form.product_block class="form-control" placeholder='Block:' %}</div>
      <div class="d-sm-inline-block" id="buttons">{% render_field filter_all.form.product_lotno class="form-control" placeholder='Lot No.:' %}</div>
      <div class="d-sm-inline-block">Paid:</div>
      <div class="d-sm-inline-block" id="buttons2">{% render_field filter_all.form.paid_date class="form-control" placeholder='Date Paid:' %}</div>
      <div class="d-sm-inline-block">Due:</div>
      <div class="d-sm-inline-block" id="buttons2">{% render_field filter_all.form.due_date class="form-control" placeholder='Due Date:' %}</div>
      <button type="submit" class="btn btn-success">Search</button>
    </form>
  </div>
</div>
<!--Table-->
  <div style="overflow-x:auto;" class="col-sm-12">
    <form name="vform" onsubmit="return Validate()" method="post">
        {% csrf_token %}
        <table class="table table-bordered table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Lot Type</th>
                    <th scope="col">Location</th>
                    <th scope="col">Terms of Payment</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Date Paid</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
              {% for order in all_page_obj %}
                <tr>
                    <td>{{order.customer.username}}</td>
                    <td>{{order.customer.first_name}} {{order.customer.last_name}}</td>
                    <td>{{order.customer.email}}</td>
                    <td>{{order.product.lot}}</td>
                    <td>{{order.product.phase}} {{order.product.block}} {{order.product.lotno}}</td>
                    <td>{{order.terms}}</td>
                    <td>{{order.pay}}</td>
                    <td>{{order.paid_date}}</td>
                    <td>{{order.balance}}</td>
                    <td>{{order.due_date}}</td>
                    <td>
                      <a href="{% url 'PropertyManagementUpdate' order.id %}"><input type="button" value="Manage" class="btn btn-primary btn-sm"></a>
                      <a href="{% url 'PropertyManagementDelete' order.id %}"><input type="button" value="Delete" class="btn btn-danger btn-sm"></a></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
          <span class="step-links">
            {% if all_page_obj.has_previous %}
            <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
            <a href="{% my_url all_page_obj.previous_page_number 'page' request.GET.urlencode %}">&laquo; Previous</a>
            {% endif %}
      
            <span class="current">
              Page {{all_page_obj.number}} of {{all_page_obj.paginator.num_pages}}.
            </span>
      
            {% if all_page_obj.has_next %}
            <a href="{% my_url all_page_obj.next_page_number 'page' request.GET.urlencode %}">&raquo; Next</a>
            <a href="{% my_url all_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a>
            {% endif %}
          </span>
        </div>
  </div>
</body>
</html>
