{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help Center</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.jpg' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <style type="text/css">
        h3 {
            color: black;
        }

        .btn-space {
            margin-right: 5px;
        }

        .buttons {
            margin-left: 140px;
        }

        .container-xl.div1 {
            width: 20%;
            float: left;
        }

        .container-xl.div2 {
            width: 80%;
            float: right;
        }

        #container-xl.div2 {
            display: none;
        }
    </style>
</head>

<body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'Homepage' %}">
                <img src="{% static 'images/logo.jpg' %}" style="width:55px;" class="rounded-pill">
            </a>
            <h3>Himlayang General Trias</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Homepage' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'AboutUs' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'LotProperty' %}">Lot Property</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'GraveFinder' %}">Grave Finder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'TermsofPayment' %}">Terms of Payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ContactUs' %}">Contact Us</a>
                    </li>
                </ul>
                <div class="buttons">
                    <a href="{% url 'Login' %}" class="btn btn-space btn btn-primary">Login</a>
                    <a href="{% url 'InquiryForm' %}" class="btn btn-space btn btn-secondary">Inquire</a>
                </div>
            </div>
        </div>
    </nav>
    <h1 class="text-center">Help Center</h1>
    <p class="text-center">Help Categories.</p>
    <p class="text-center">Please click the button according to what to want to know.</p>
    <div class="container">
        <div class="container-xl div1">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary btn-lg" onclick="UseofGraveFinder()">Use of Grave
                    Finder</button>
                <button type="button" class="btn btn-secondary btn-lg" onclick="UseofForms()">Use of Forms</button>
                <button type="button" class="btn btn-success btn-lg" onclick="UseofInquiryForm()">Use of Inquiry
                    Form</button>
                <button type="button" class="btn btn-danger btn-lg" onclick="UseofSignIn()">Use of Sign In</button>
                <button type="button" class="btn btn-warning btn-lg" onclick="UseofSignUp()">Use of Sign Up</button>
                <button type="button" class="btn btn-info btn-lg" onclick="UseofPasswordRecovery()">Use of Password
                    Recovery</button>
                <button type="button" class="btn btn-light btn-lg" onclick="UseofPasswordReset()">Use of Password
                    Reset</button>
                <button type="button" class="btn btn-dark btn-lg" onclick="UseofClientPage()">Use of Client
                    Page</button>
            </div>
        </div>

        <div class="container-xl div2">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item" id="section1">
                    <h4 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What is the use of Grave Finder?
                        </button>
                    </h4>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="section1"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Grave Finder is use to locate the tomb of the deceased person at the Map of the Himlayang
                                Cemetery.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="section1.2">
                    <h4 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOneTwo" aria-expanded="true" aria-controls="collapseOneTwo">
                            How to locate the deceased person?
                        </button>
                    </h4>
                    <div id="collapseOneTwo" class="accordion-collapse collapse show" aria-labelledby="section1.2"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><strong>Follow the instructions below.</strong></p>
                            <p><strong>Step 1:</strong> Click Grave Finder at the Homepage.</p>
                            <p><strong>Step 2:</strong> Click the Search Box.</p>
                            <p><strong>Step 3:</strong> Type the name of the your Loved ones that buried at Himlayan.
                            </p>
                            <p><strong>Step 4:</strong> Click Search.</p>
                            <p><strong>Step 5:</strong> At the table, look for the name of that you search.</p>
                            <p><strong>Step 6:</strong> Click the View Destination.</p>
                            <p><strong>Step 7:</strong> Look at the Map at the right side and you can see now the
                                location of the tomb of your loved ones.</p>
                            <p><strong>Step 8:</strong> You can now follow the directions that the map presented when
                                you go the Himlayang Cemetery.</p>
                        </div>
                        <div class="text-center">
                            <img src="sample.jpg.crdownload" class="img-fluid" style="width: 600px; height: 350px;"
                                alt="...">
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="section2">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What is the use of Forms?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="section2"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Forms are used to send a request about buying the lots, renting a lot, and booking an
                                appointment at the Himlayang Cemetery. When you click forms, there are three choices:
                                the Application Form for renting a lot, the Buyers Form for buying a lot, and Book
                                Appointment for booking a schedule at Himlayang Office.</p>
                            <p><strong>How to Fill-Up the Forms?</strong></p>
                            <p><strong>Step 1:</strong> Click Application Form, if you want to rent a apartment lot.</p>
                            <p><strong>Step 2:</strong> Click Buyers Form, if you want to buy a memorial lot type.</p>
                            <p><strong>Step 3:</strong> Click Book Appointment, if you want to schedule an appointment
                                meeting at the Himlayan Office.</p>
                            <p><strong>Step 4:</strong> After choosing at the three choices and pick one, fill up the
                                form correctly.</p>
                            <p><strong>Step 5:</strong> After filling out the forms correctly, click submit or confirm
                                to send your fill out form.</p>
                            <p><strong>Step 5:</strong> Wait to the response message of Himlayang Office through email.
                            </p>
                        </div>
                        <div class="text-center">
                            <img src="sample.jpg.crdownload" class="img-fluid" style="width: 600px; height: 350px;"
                                alt="...">
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="section3">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What is the Inquiry Form?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="section3"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Inquiry Forms are used to send inquiries about a lot, whether available or not. </p>
                            <p><strong>How to Fill-Up the Inquiry Form.</strong></p>
                            <p><strong>Step 1:</strong> Click Inquire at the Homepage.</p>
                            <p><strong>Step 2:</strong> Click button of lots and choose what you lot you want know if it
                                is available.</p>
                            <p><strong>Step 3:</strong> Click Search.
                            </p>
                            <p><strong>Step 4:</strong> At the table, that's the available lots.</p>
                            <p><strong>Step 5:</strong> Click View to know where is the directions of that available
                                lots.</p>
                            <p><strong>Step 6:</strong> Look at the Map below and you can see now the
                                location of the that avaible lot at the Himlayang Cemetery.</p>
                            <p><strong>Step 7:</strong> After knowing the location of the available lots, fill out the
                                inquiry form correctly.</p>
                            <p><strong>Step 8:</strong> After filling out the forms correctly, click confirm to send
                                your fill out form.</p>
                            <p><strong>Step 9:</strong> Wait to the response message of Himlayang Office through email.
                            </p>
                        </div>
                        <div class="text-center">
                            <img src="sample.jpg.crdownload" class="img-fluid" style="width: 600px; height: 350px;"
                                alt="...">
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="section4">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            How to Sign In?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="section4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><strong>Follow the Instruction below.</strong></p>
                            <p><strong>Step 1:</strong> Click Inquire at the Homepage.</p>
                            <p><strong>Step 2:</strong> Click button of lots and choose what you lot you want know if it
                                is available.</p>
                            <p><strong>Step 3:</strong> Click Search.
                            </p>
                            <p><strong>Step 4:</strong> At the table, that's the available lots.</p>
                            <p><strong>Step 5:</strong> Click View to know where is the directions of that available
                                lots.</p>
                            <p><strong>Step 6:</strong> Look at the Map below and you can see now the
                                location of the that avaible lot at the Himlayang Cemetery.</p>
                            <p><strong>Step 7:</strong> After knowing the location of the available lots, fill out the
                                inquiry form correctly.</p>
                            <p><strong>Step 8:</strong> After filling out the forms correctly, click confirm to send
                                your fill out form.</p>
                            <p><strong>Step 9:</strong> Wait to the response message of Himlayang Office through email.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="section5">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How to Sign Up?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="section5"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><strong>Follow the Instruction below.</strong></p>
                            <p><strong>Step 1:</strong> Click Inquire at the Homepage.</p>
                            <p><strong>Step 2:</strong> Click button of lots and choose what you lot you want know if it
                                is available.</p>
                            <p><strong>Step 3:</strong> Click Search.
                            </p>
                            <p><strong>Step 4:</strong> At the table, that's the available lots.</p>
                            <p><strong>Step 5:</strong> Click View to know where is the directions of that available
                                lots.</p>
                            <p><strong>Step 6:</strong> Look at the Map below and you can see now the
                                location of the that avaible lot at the Himlayang Cemetery.</p>
                            <p><strong>Step 7:</strong> After knowing the location of the available lots, fill out the
                                inquiry form correctly.</p>
                            <p><strong>Step 8:</strong> After filling out the forms correctly, click confirm to send
                                your fill out form.</p>
                            <p><strong>Step 9:</strong> Wait to the response message of Himlayang Office through email.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="section6">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            How to Recover Password?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="section6"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><strong>Follow the Instruction below.</strong></p>
                            <p><strong>Step 1:</strong> Click Inquire at the Homepage.</p>
                            <p><strong>Step 2:</strong> Click button of lots and choose what you lot you want know if it
                                is available.</p>
                            <p><strong>Step 3:</strong> Click Search.
                            </p>
                            <p><strong>Step 4:</strong> At the table, that's the available lots.</p>
                            <p><strong>Step 5:</strong> Click View to know where is the directions of that available
                                lots.</p>
                            <p><strong>Step 6:</strong> Look at the Map below and you can see now the
                                location of the that avaible lot at the Himlayang Cemetery.</p>
                            <p><strong>Step 7:</strong> After knowing the location of the available lots, fill out the
                                inquiry form correctly.</p>
                            <p><strong>Step 8:</strong> After filling out the forms correctly, click confirm to send
                                your fill out form.</p>
                            <p><strong>Step 9:</strong> Wait to the response message of Himlayang Office through email.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="section7">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            How to Reset Password?
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="section7"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><strong>Follow the Instruction below.</strong></p>
                            <p><strong>Step 1:</strong> Click Inquire at the Homepage.</p>
                            <p><strong>Step 2:</strong> Click button of lots and choose what you lot you want know if it
                                is available.</p>
                            <p><strong>Step 3:</strong> Click Search.
                            </p>
                            <p><strong>Step 4:</strong> At the table, that's the available lots.</p>
                            <p><strong>Step 5:</strong> Click View to know where is the directions of that available
                                lots.</p>
                            <p><strong>Step 6:</strong> Look at the Map below and you can see now the
                                location of the that avaible lot at the Himlayang Cemetery.</p>
                            <p><strong>Step 7:</strong> After knowing the location of the available lots, fill out the
                                inquiry form correctly.</p>
                            <p><strong>Step 8:</strong> After filling out the forms correctly, click confirm to send
                                your fill out form.</p>
                            <p><strong>Step 9:</strong> Wait to the response message of Himlayang Office through email.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="section8">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            What is the use of Client Page?
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="section8"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>After logging into your account, you will redirect to the client page, which is your
                                homepage. This page is where you can access it and can view your transactions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>

<script type="text/javascript">
    function UseofGraveFinder() {
        document.getElementById('section1').style.display = "block";
        document.getElementById('section1.2').style.display = "block";
        document.getElementById('section2').style.display = "none";
        document.getElementById('section3').style.display = "none";
        document.getElementById('section4').style.display = "none";
        document.getElementById('section5').style.display = "none";
        document.getElementById('section6').style.display = "none";
        document.getElementById('section7').style.display = "none";
        document.getElementById('section8').style.display = "none";

    }

    function UseofForms() {
        document.getElementById('section1').style.display = "none";
        document.getElementById('section1.2').style.display = "none";
        document.getElementById('section2').style.display = "block";
        document.getElementById('section3').style.display = "none";
        document.getElementById('section4').style.display = "none";
        document.getElementById('section5').style.display = "none";
        document.getElementById('section6').style.display = "none";
        document.getElementById('section7').style.display = "none";
        document.getElementById('section8').style.display = "none";
    }

    function UseofInquiryForm() {
        document.getElementById('section1').style.display = "none";
        document.getElementById('section1.2').style.display = "none";
        document.getElementById('section2').style.display = "none";
        document.getElementById('section3').style.display = "block";
        document.getElementById('section4').style.display = "none";
        document.getElementById('section5').style.display = "none";
        document.getElementById('section6').style.display = "none";
        document.getElementById('section7').style.display = "none";
        document.getElementById('section8').style.display = "none";
    }

    function UseofSignIn() {
        document.getElementById('section1').style.display = "none";
        document.getElementById('section1.2').style.display = "none";
        document.getElementById('section2').style.display = "none";
        document.getElementById('section3').style.display = "none";
        document.getElementById('section4').style.display = "block";
        document.getElementById('section5').style.display = "none";
        document.getElementById('section6').style.display = "none";
        document.getElementById('section7').style.display = "none";
        document.getElementById('section8').style.display = "none";
    }

    function UseofSignUp() {
        document.getElementById('section1').style.display = "none";
        document.getElementById('section1.2').style.display = "none";
        document.getElementById('section2').style.display = "none";
        document.getElementById('section3').style.display = "none";
        document.getElementById('section4').style.display = "none";
        document.getElementById('section5').style.display = "block";
        document.getElementById('section6').style.display = "none";
        document.getElementById('section7').style.display = "none";
        document.getElementById('section8').style.display = "none";
    }

    function UseofPasswordRecovery() {
        document.getElementById('section1').style.display = "none";
        document.getElementById('section1.2').style.display = "none";
        document.getElementById('section2').style.display = "none";
        document.getElementById('section3').style.display = "none";
        document.getElementById('section4').style.display = "none";
        document.getElementById('section5').style.display = "none";
        document.getElementById('section6').style.display = "block";
        document.getElementById('section7').style.display = "none";
        document.getElementById('section8').style.display = "none";
    }

    function UseofPasswordReset() {
        document.getElementById('section1').style.display = "none";
        document.getElementById('section1.2').style.display = "none";
        document.getElementById('section2').style.display = "none";
        document.getElementById('section3').style.display = "none";
        document.getElementById('section4').style.display = "none";
        document.getElementById('section5').style.display = "none";
        document.getElementById('section6').style.display = "none";
        document.getElementById('section7').style.display = "block";
        document.getElementById('section8').style.display = "none";
    }

    function UseofClientPage() {
        document.getElementById('section1').style.display = "none";
        document.getElementById('section1.2').style.display = "none";
        document.getElementById('section2').style.display = "none";
        document.getElementById('section3').style.display = "none";
        document.getElementById('section4').style.display = "none";
        document.getElementById('section5').style.display = "none";
        document.getElementById('section6').style.display = "none";
        document.getElementById('section7').style.display = "none";
        document.getElementById('section8').style.display = "block";
    }
</script>